
/* #info{
    position: relative;
    left: 26px;
} */
.find{
    text-align: left;
    width: 100%;
}
.h2{
    border-bottom: 1px solid;
}
/* #info_tabel{
        position: relative;
    left: 12%;
    margin-bottom: 15px;
} */
.work_td{
    border: 1px solid;
    width: 50px;
    font-size:14px;
}
.table_h{
    width: 46px;
}
.table_i{
    width: 88%;
}
.table_work{
    margin-top: 25px;
    border: 1px solid;
    width: 100%;
    text-align: center;
}
.table_report{
    margin-top: 25px;
    border: 1px solid;
    width: 100%;
    text-align: center;
}

.require{
    text-align: center;
}
.secession{
    text-align: center;
}
.input_{
margin: 6px;
}
.nav-link{
    font-size: 29px;
    color: yellowgreen;
}
.nav__{
    font-size: 20px;
}
.navbar {
    background-color: black;
}
h2{
    font-size: 38px;
}
.a_{
    margin-top: 43px;
}

.input_text{
    width: 100%;
    height: 68%;
    border: 1px solid;
}

.text_submit{
    position: relative;
    left: 45%;
    margin-top: 13px;
    width: 63px;
    font-size: 15px;
    height: 24px;
    margin: 10px;
    line-height: 15px;
}

.report_button{
    margin: 10px;
    margin-left: 0px;
    width: 63px;
    font-size: 15px;
    height: 24px;
    line-height: 15px;
}
.list{
    border: 1px solid;
    margin: 24px;
    height: 200px;
    border-radius: 13px;
}
.list:hover {
  animation-duration: 3s; animation-name: rainbowLink; animation-iteration-count: infinite; 
} 
    @keyframes rainbowLink {     
     0% { color: #ff2a2a; }
     15% { color: #ff7a2a; }
     30% { color: #ffc52a; }
     45% { color: #43ff2a; }
     60% { color: #2a89ff; }
     75% { color: #202082; }
     90% { color: #6b2aff; } 
     100% { color: #e82aff; }
    }

    @-webkit-keyframes rainbowLink {     
      0% { color: #ff2a2a; }
      15% { color: #ff7a2a; }
      30% { color: #ffc52a; }
      45% { color: #43ff2a; }
      60% { color: #2a89ff; }
      75% { color: #202082; }
      90% { color: #6b2aff; } 
      100% { color: #e82aff; }
     }
    
    .box {
      
      }
      
      .box select {
        background-color:#343a40;
        color: white;
        border-radius: 6px;
        width: 250px;
        border: none;
    
        box-shadow: 0 5px 25px rgba(0, 0, 0, 0.2);
        padding-left: 9px;
      
        outline: none;

        height: 26px;
        padding: 0px;
        font-size: 15px;
      }
      
      .box::before {
        content: "\f13a";
        font-family: FontAwesome;
        position: absolute;
        top: 0;
        right: 0;
        width: 20%;
        height: 100%;
        text-align: center;
        font-size: 28px;
        line-height: 45px;
        color: rgba(255, 255, 255, 0.5);
        background-color: rgba(255, 255, 255, 0.1);
        pointer-events: none;
      }
      
      .box:hover::before {
        color: rgba(255, 255, 255, 0.6);
        background-color: rgba(255, 255, 255, 0.2);
      }
      
      .box select option {
        padding: 30px;
      }

.modal{
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
  }
  .modal_2{
    z-index: 10;
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
  }
  .report_list{
    width: 555px;
    background-color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    border: 1px solid #888;
    border-radius: 27px;
    height: 95%;
  }
  .report_list_2{
    overflow: auto;
    width: 555px;
    background-color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    border: 1px solid #888;
    border-radius: 27px;
    height: 82%;
  }
  .report_td_1{
    width: 15%;
    border: 1px solid;
    height: 15px;
  }
  .report_td_2{
    width: 70%;
    border: 1px solid;
    height: 15px;
  }
  .report_td_3{
    width: 15%;
    border: 1px solid;
    height: 15px;
  }
  .input_title{
    display: flex;
    height: 22px;
    border: 1px solid;
  }
  .title{
    display: flex;
    margin-top: 13px;
  }

  .info_tr{
    border-bottom: 1px solid;
}
.info{
  font-size: 30px;
    margin-top: 15px;
    width: 85%;
}
.info_td_1{
    width: 23%;
}

.row{
    text-align: center;
}

.work_box{
    margin-bottom: 10px;
    margin-top: 10px;
}
.table th {
    padding: .15rem;
}
.table{
    text-align: center;
}
.work_2{
    line-height: 39px;
}
.box_2{
    background-color: #343a40;
    color: white;
    border-radius: 6px;
    width: 250px;
    border: none;
    box-shadow: 0 5px 25px rgba(0, 0, 0, 0.2);
    padding-left: 9px;
    outline: none;
    height: 26px;
    padding: 0px;
    font-size: 15px;
}

.repo_name{
  font-size: 31px;
    margin: 12px;
}

.w_o_d{
 
  border-bottom: 1px solid;
    margin-bottom: 6px;
    font-size: 12px;
}

.btn-secondary{
  height: 28px;
  line-height: 4px;
}
body{
  font-family: 'Noto Serif KR', serif;
}